.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.skills-title{
    position: relative;
}
.skills-title h1{
    padding: 20px 30px;
    font-size: 80px;
    font-weight: 600;
}
.skills-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.skills-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.skills-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #4CA626 106.28%);
}
.skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
@media(max-width:768px){
    .skills{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .skills-title h1{
        font-size: 50px;
        padding: 0;
    }
    .skills-content{
        flex-direction: column;
        font-size: 18px;
        line-height: 32px;
    }
    .skill p{
        font-size: 20px;
    }
    .skill hr{
        height: 6px;
    }
}